.navbar{
    height: 50px;
    width: 1000px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: black;
}

#outer{
    background-color: yellow;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inner{
    background-color: red;
    height: 50px;
    width: 50px;
}
